<div class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="70%" />
            <!-- <h3 style="margin-top: 20px;">Reset Password</h3> -->
            <form [formGroup]="resetPasswordForm" novalidate role="form">
                <div class="form-content">
                   
                    <div style="margin-bottom: 10px;">
                        <input formControlName="password" placeholder="Password"
                            class="form-control input-underline input-lg" type="password" />
                        <div style="text-align: left;"
                            *ngIf="resetPasswordForm.controls['password'].errors && (resetPasswordForm.controls['password'].dirty || resetPasswordForm.controls['password'].touched) || FormSubmitted">
                            <span class=" text-danger error" *ngIf="resetPasswordForm.controls['password'].errors?.required">
                                * Password is required.
                            </span>
                            <span class=" text-danger error" *ngIf="resetPasswordForm.controls['password'].errors?.minlength">
                                * password need to more than 6 characters.
                            </span>
                        </div>
                    </div>
                    <div>
                        <input formControlName="cPassword" placeholder="Confirm Password"
                            class="form-control input-underline input-lg" type="password" />
                        <div style="text-align: left;"
                            *ngIf="resetPasswordForm.controls['cPassword'].errors && (resetPasswordForm.controls['cPassword'].dirty || resetPasswordForm.controls['cPassword'].touched) || FormSubmitted">
                            <span class=" text-danger error" *ngIf="resetPasswordForm.controls['cPassword'].errors?.required">
                                * Confirm password is required.
                            </span>
                        </div>
                        <div style="text-align: left;" >
                            <span class="text-danger error"
                            *ngIf="resetPasswordForm.controls['password'].valid  && resetPasswordForm.controls['cPassword'].valid && resetPasswordForm.errors?.mismatch">
                            * Confirm password and password mismatch.
                        </span>
                    </div>
                    </div>


                    
                </div>
                <a *ngIf="!disableSubmit" (click)="resetPassword()" class="btn rounded-btn">
                    Reset Password
                </a>

                <div *ngIf="disableSubmit" class="text-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <p>
                        Please Wait ...
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>