<div class="card" [@routerTransition]>


    <div class="card-body">
        <!-- <h2 class="mb-3">Dashboard <small>Statistics Overview</small></h2> -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800 page-title">Dashboard<span>Control Pannel</span></h1>
                <ol class="breadcrumb text-xs bg-transparent">
                    <li><i class="fas fa-fw fa-tachometer-alt"></i><a href="#" class="text-gray-700">Home</a><i class="fas fa-fw fa-angle-right"></i></li>

                    <li class="active text-gray-500">Dashboard</li>
                </ol>
            </div>

            <!-- Content Row -->
            <div class="row">

                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="text-white bg-info card shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 mb-0 font-weight-bold ">$1,025.00</div>
                                    <div class="text-xs font-weight-bold text-uppercase mb-1">My Wallet</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-wallet fa-2x "></i>
                                </div>
                            </div>
                        </div>
                        <a routerLink="/mywallet" class="text-white more-info">More Info <i class="fa fa-arrow-alt-circle-right"></i></a>
                    </div>

                </div>

                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card  text-white bg-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 mb-0 font-weight-bold">$500,000.00</div>
                                    <div class="text-xs font-weight-bold text-uppercase mb-1">Loans</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-dollar-sign fa-2x "></i>
                                </div>
                            </div>
                        </div>
                        <a routerLink="/loan/list" class="text-white more-info">More Info <i class="fa fa-arrow-alt-circle-right"></i></a>
                    </div>

                </div>

                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card text-white bg-danger shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 mb-0 font-weight-bold">1</div>
                                    <div class="text-xs font-weight-bold text-uppercase mb-1">Borrowers</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-users fa-2x "></i>
                                </div>
                            </div>
                        </div>
                        <a routerLink="/borrowers/list" class="text-white more-info">More Info <i class="fa fa-arrow-alt-circle-right"></i></a>
                    </div>

                </div>

                <!-- Pending Requests Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card text-white bg-warning  shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 mb-0 font-weight-bold">2</div>
                                    <div class="text-xs font-weight-bold text-uppercase mb-1">Employees</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-user fa-2x "></i>
                                </div>
                            </div>
                        </div>
                        <a routerLink="/employee/list" class="text-white more-info">More Info <i class="fa fa-arrow-alt-circle-right"></i></a>
                    </div>

                </div>



                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="text-white bg-success card shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 mb-0 font-weight-bold">1</div>
                                    <div class="text-xs font-weight-bold text-uppercase mb-1">Company Setup</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-cogs fa-2x "></i>
                                </div>
                            </div>
                        </div>
                        <a routerLink="/loan/list" class="text-white more-info">More Info <i class="fa fa-arrow-alt-circle-right"></i></a>
                    </div>

                </div>

                <!-- Earnings (Monthly) Card Example -->
                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="text-white bg-info card shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 mb-0 font-weight-bold">4</div>
                                    <div class="text-xs font-weight-bold text-uppercase mb-1">Messages</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-envelope fa-2x "></i>
                                </div>
                            </div>
                        </div>
                        <a routerLink="/message/inbox" class="text-white more-info">More Info <i class="fa fa-arrow-alt-circle-right"></i></a>
                    </div>

                </div>

                <!-- Earnings (Monthly) Card Example -->
                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="text-white bg-warning card shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 mb-0 font-weight-bold">$500,000.00</div>
                                    <div class="text-xs font-weight-bold text-uppercase mb-1">Missed Payment</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-dollar-sign fa-2x "></i>
                                </div>
                            </div>
                        </div>
                        <a routerLink="/payments/list" class="text-white more-info">More Info <i class="fa fa-arrow-alt-circle-right"></i></a>
                    </div>

                </div>

                <!-- Pending Requests Card Example -->

                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="text-white card bg-danger  shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 mb-0 font-weight-bold">$3,000,000.00</div>
                                    <div class="text-xs font-weight-bold text-uppercase mb-1">Payment</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-dollar-sign fa-2x "></i>
                                </div>
                            </div>
                        </div>
                        <a routerLink="/payments/list" class="text-white more-info">More Info <i class="fa fa-arrow-alt-circle-right"></i></a>
                    </div>

                </div>

                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="text-white card bg-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 mb-0 font-weight-bold">$940</div>
                                    <div class="text-xs font-weight-bold text-uppercase mb-1">Total Withdraw</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-dollar-sign fa-2x "></i>
                                </div>
                            </div>
                        </div>
                        <a routerLink="/savingaccount/withdraw" class="text-white more-info">More Info <i class="fa fa-arrow-alt-circle-right"></i></a>
                    </div>

                </div>
                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="text-white card bg-danger shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 mb-0 font-weight-bold">1</div>
                                    <div class="text-xs font-weight-bold text-uppercase mb-1">Customers</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-users fa-2x "></i>
                                </div>
                            </div>
                        </div>
                        <a routerLink="/savingaccount/customers" class="text-white more-info">More Info <i class="fa fa-arrow-alt-circle-right"></i></a>
                    </div>

                </div>
                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="text-white card bg-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 mb-0 font-weight-bold">21</div>
                                    <div class="text-xs font-weight-bold text-uppercase mb-1">Total Transaction</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-dollar-sign fa-2x "></i>
                                </div>
                            </div>
                        </div>
                        <a routerLink="/savingaccount/alltransaction" class="text-white more-info">More Info <i class="fa fa-arrow-alt-circle-right"></i></a>
                    </div>

                </div>
                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="text-white card bg-warning shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h5 mb-0 font-weight-bold">$4421.00</div>
                                    <div class="text-xs font-weight-bold text-uppercase mb-1">Total Deposit</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-wallet fa-2x "></i>
                                </div>
                            </div>
                        </div>
                        <a routerLink="/savingaccount/deposit" class="text-white more-info">More Info <i class="fa fa-arrow-alt-circle-right"></i></a>
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 mb-4">
                    <a href="#" class="btn btn-primary btn-info text-uppercase btn-block">Loan Information Chart</a>
                </div>
            </div>
            <!-- Content Row -->

            <div class="row">

                <!-- Area Chart -->
                <div class="col-xl-8 col-lg-7">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">Dropdown Header:</div>
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-area">
                                <canvas id="myAreaChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pie Chart -->
                <div class="col-xl-4 col-lg-5">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                            <div class="dropdown no-arrow">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                    <div class="dropdown-header">Dropdown Header:</div>
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-pie pt-4 pb-2">
                                <canvas id="myPieChart"></canvas>
                            </div>
                            <div class="mt-4 text-center small">
                                <span class="mr-2">
                        <i class="fas fa-circle text-primary"></i> Direct
                      </span>
                                <span class="mr-2">
                        <i class="fas fa-circle text-success"></i> Social
                      </span>
                                <span class="mr-2">
                        <i class="fas fa-circle text-info"></i> Referral
                      </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Content Row -->


        </div>
        <!-- /.container-fluid -->
        <!-- <div class="row">
            <div *ngFor="let item of [1,2]" class="col-sm-4 col-lg-3">
                <div class="dash-book text-center">
                    <h5>Users</h5>
                    <h4>220</h4>
                    <a href="#">View</a>
                </div>
            </div>
       </div> -->
    </div>


    <!-- <div class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'dark'" [count]="0" [icon]="'fa-comments'" [label]="'New message!'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'dark'" [count]="0" [icon]="'fa-tasks'" [label]="'New task!'"></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat
                [bgClass]="'dark'"
                [count]="0"
                [icon]="'fa-shopping-cart'"
                [label]="'New Orders!'"
            ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'dark'" [count]="0" [icon]="'fa-support'" [label]="'New Tickets!'"></app-stat>
        </div>
    </div> -->