<div class="card">
    <div class="card-body">
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800 page-title">List of Borrowers<span>Control Pannel</span></h1>
                <ol class="breadcrumb text-xs bg-transparent">
                    <li><i class="fas fa-fw fa-tachometer-alt"></i><a href="#" class="text-gray-700">Home</a><i class="fas fa-fw fa-angle-right"></i></li>
                    <li><a href="#" class="text-gray-700">Borrowers</a><i class="fas fa-fw fa-angle-right"></i></li>
                    <li class="active text-gray-500">List</li>
                </ol>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <!-- DataTales Example -->
                    <div class="bg-white shadow border-top-green mb-4">
                        <div class="card-body">
                            <mat-tab-group>
                                <mat-tab label="Personel Information">
                                    <form class="user">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-2 text-right"><label>Your Image </label></div>
                                                <div class="col-lg-10">
                                                    <input type="file" [(ngModel)]="imagename" name="imagename" class="form-control form-control-user border-0" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-2 text-right text-green"><label>Account Number</label></div>
                                                <div class="col-lg-10">
                                                    <input type="text" [(ngModel)]="account" name="account" placeholder="Account Number" class="form-control form-control-user" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-2 text-right text-green"><label>Full Name </label></div>
                                                <div class="col-lg-10">
                                                    <input type="text" minlength="4" maxlength="24" [(ngModel)]="firstname" name="firstname" placeholder="Full Name" class="form-control form-control-user" required/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-2 text-right text-green"><label>Last Name </label></div>
                                                <div class="col-lg-10">
                                                    <input type="text" minlength="4" maxlength="24" [(ngModel)]="lastname" name="lastname" placeholder="Last Name" class="form-control form-control-user" required/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-2 text-right text-green"><label>Email</label></div>
                                                <div class="col-lg-10">
                                                    <input type="email" [(ngModel)]="emailname" name="emailname" email placeholder="Email" class="form-control form-control-user" required />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-2 text-right text-green"><label>Mobile Number</label></div>
                                                <div class="col-lg-10">
                                                    <input type="text" [(ngModel)]="phone" name="phone" placeholder="Mobile Number" class="form-control form-control-user" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-2 text-right text-green"><label>Address 1</label></div>
                                                <div class="col-lg-10">
                                                    <textarea class="form-control" name="textarea" [(ngModel)]="textarea" style="height: 100px;"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-2 text-right text-green"><label>Address 2</label></div>
                                                <div class="col-lg-10">
                                                    <textarea class="form-control" name="textarea1" [(ngModel)]="textarea1" style="height: 100px;"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-2 text-right text-green"><label>City</label></div>
                                                <div class="col-lg-10">
                                                    <input type="text" name="cityname" [(ngModel)]="cityname" placeholder="City" class="form-control form-control-user" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-2 text-right text-green"><label>State</label></div>
                                                <div class="col-lg-10">
                                                    <input type="text" [(ngModel)]="statename" name="statename" placeholder="State" class="form-control form-control-user" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-2 text-right text-green"><label>Zip Code</label></div>
                                                <div class="col-lg-10">
                                                    <input type="text" [(ngModel)]="zipcode" name="zipcode" placeholder="Zip Code" class="form-control form-control-user" />
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-2 text-right text-green"><label>Comment</label></div>
                                                <div class="col-lg-10">
                                                    <textarea class="form-control" name="comment" [(ngModel)]="comment" style="height: 100px;"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 text-right">

                                                <button type="button" (click)="onUpdate()" class="btn btn-success btn-sm"><i class="fa fa-save pr-2" aria-hidden="true"></i>Update</button>
                                            </div>
                                        </div>
                                    </form>
                                </mat-tab>
                                <mat-tab label="Financial Information">
                                    <!-- Editable table -->

                                    <!-- <table class>

                                        <thead>
                                            <tr>

                                                <th>First Name</th>
                                                <th>Last Name</th>

                                            </tr>
                                        </thead>

                                    </table> -->
                                    <table class="table table-bordered table-responsive-md table-striped text-center">

                                        <tbody>

                                            <tr>
                                                <th scope="row">
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input" id="tableMaterialCheck4">
                                                        <label class="form-check-label" for="tableMaterialCheck4"></label>
                                                    </div>
                                                </th>
                                                <td class="pt-3-half" contenteditable="true">Guerra Cortez</td>
                                                <td class="pt-3-half" contenteditable="true">USA</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input" id="tableMaterialCheck4">
                                                        <label class="form-check-label" for="tableMaterialCheck4"></label>
                                                    </div>
                                                </th>
                                                <td class="pt-3-half" contenteditable="true">Guerra Cortez</td>
                                                <td class="pt-3-half" contenteditable="true">USA</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input" id="tableMaterialCheck4">
                                                        <label class="form-check-label" for="tableMaterialCheck4"></label>
                                                    </div>
                                                </th>
                                                <td class="pt-3-half" contenteditable="true">Guerra Cortez</td>
                                                <td class="pt-3-half" contenteditable="true">USA</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input" id="tableMaterialCheck4">
                                                        <label class="form-check-label" for="tableMaterialCheck4"></label>
                                                    </div>
                                                </th>
                                                <td class="pt-3-half" contenteditable="true">Guerra Cortez</td>
                                                <td class="pt-3-half" contenteditable="true">USA</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    <div class="form-check">
                                                        <input type="checkbox" class="form-check-input" id="tableMaterialCheck4">
                                                        <label class="form-check-label" for="tableMaterialCheck4"></label>
                                                    </div>
                                                </th>
                                                <td class="pt-3-half" contenteditable="true">Guerra Cortez</td>
                                                <td class="pt-3-half" contenteditable="true">USA</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">
                                                    <div class="form-check">
                                                        <input type="checkbox" flex="20" class="form-check-input" id="tableMaterialCheck4">
                                                        <label class="form-check-label" for="tableMaterialCheck4"></label>
                                                    </div>
                                                </th>
                                                <td class="pt-3-half" contenteditable="true">Guerra Cortez</td>
                                                <td class="pt-3-half" contenteditable="true">USA</td>
                                            </tr>

                                            <!-- This is our clonable table line -->

                                        </tbody>

                                    </table>
                                    <button mat-button color="Warn">Add Row</button>


                                    <button mat-button color="Warn">Delete Row</button>
                                    <hr>
                                    <button class="example-spacer" mat-button color="primary">Update Additional Fees</button>


                                </mat-tab>
                                <mat-tab label="Attachment">
                                    <angular-file-uploader [config]="afuConfig">
                                    </angular-file-uploader>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>

                </div>
            </div>






        </div>
        <!-- /.container-fluid -->

    </div>
</div>