<div class="card">
    <div class="card-body">

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800 page-title">New Message<span>Control Pannel</span></h1>
                <ol class="breadcrumb text-xs bg-transparent">
                    <li><i class="fas fa-fw fa-tachometer-alt"></i><a href="#" class="text-gray-700">Home</a><i class="fas fa-fw fa-angle-right"></i></li>
                    <li><a href="#" class="text-gray-700">My Mail</a><i class="fas fa-fw fa-angle-right"></i></li>
                    <li class="active text-gray-500">Create</li>
                </ol>
            </div>

            <div class="row">
                <div class="col-lg-12 mb-4">

                    <!-- Project Card Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0"><i class="fas fa-envelope pr-2"></i>New Message</h6>
                        </div>
                        <div class="card-body">
                            <form class="user">

                                <div class="form-group mt-4">
                                    <div class="row">
                                        <div class="col-lg-2 text-right text-green"><label>Select Employee</label></div>
                                        <div class="col-lg-10 ">
                                            <select class="form-control form-control-user" name="Employee" [(ngModel)]="Employee" (change)="getEmployee($event.target.value)">
                                      <option *ngFor="let ln of Employees" [value]="ln.id">{{ln.name}}</option>
                                      
                                  </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-2 text-right text-green"><label>Subject</label></div>
                                        <div class="col-lg-10">
                                            <input type="text" name="Subject" [(ngModel)]="Subject" class="form-control form-control-user" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-2 text-right text-green"><label>Description</label></div>
                                        <div class="col-lg-10">
                                            <textarea class="form-control" name="Description" [(ngModel)]="Description" style="height: 200px;"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <hr class="mp-4 mt-4" />
                                <div class="row">
                                    <div class="col-lg-12 text-right">
                                        <button type="button" (click)="onReset()" class="btn btn-info btn-sm"><i class="fa fa-times pr-2" aria-hidden="true"></i>Reset</button>
                                        <button type="button" (click)="onSend()" class="btn btn-success btn-sm"><i class="fa fa-save pr-2" aria-hidden="true"></i>Send</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>






        </div>
        <!-- /.container-fluid -->
    </div>
</div>